<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="A secure and private chat app for you.">
    <link rel="stylesheet" href="./w3.css">
    <link href="./fonts.css" rel="stylesheet">
    <link rel="icon" href="https://cdn.glitch.global/aac3c734-7514-4e68-898a-66574e5cc449/logofav1-3.png?v=1731038687620">
    <link
			rel="stylesheet"
			href="./jquery-ui.css">
    <title>Login | RREComms</title>
    <link href="./ls.css" rel="stylesheet">
  </head>
  <body onload="initLogin()">
    <div id="pageToReplace">
      <div id="enabled">
        <br>
        <h1>
          Log In
        </h1>
        <p id="error">
        </p>
        <form>
          <input id="l1" type="text" placeholder="Username" autocomplete="username" class="w3-bar-item w3-input w3-bar-item w3-round-large w3-border w3-ripple"><br>
          <br>
          <input id="l2" type="password" placeholder="Password" autocomplete="current-password" class="w3-bar-item w3-input w3-bar-item w3-round-large w3-border w3-ripple">
        </form>
        <br>
        <br>
        <button id="login-btn" class="w3-bar-item w3-btn w3-round-large w3-border w3-ripple w3-center" onclick="loginBtn()">
        Log In
        </button>
      </div>
    </div>
    <noscript>
      <div>
        <br>
        <h1>
          Error - Javascript is Disabled
        </h1>
        <br>
        <p>
          Please enable javascript then reload to continue.
        </p>
      </div>
    </noscript>
    <div id="loading">
      <h1>
        Loading...
      </h1>
    </div>
    <div class="modal" style="display: none;" id="modal-loading" data-backdrop="static">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="loading-spinner mb-2"></div>
            <div>Loading...</div>
          </div>
        </div>
      </div>
    </div>
    <script src="./jquery-1.1.1.min.js"></script>
		<script src="./jquery-ui.js"></script>
    <input style="display: none;" value="{{serverkey}}" id="serverPubKey">
    <script src="./pages.js"></script>
    <script src="./node-rsa.js"></script>
    <script src="./index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./soundlibrary.js"></script>
  </body>
</html>