<!DOCTYPE html>
<html lang="en">

  <head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="/w3.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap" rel="stylesheet"/>
    <link rel="icon" href="https://cdn.glitch.global/6e956837-d71d-4381-b8e8-10bc54d84ceb/IWL_ROCKET_LOGO.jpg?v=1709518823810" />
    <style>
#enabled {
  display: none;
}
button {
  background-color: #8B008B!important;
  color: white!important;
  border-color: #EBDEF0!important;
}
input {
  color: #8B008B!important;
  background-color: white!important;
  border-color: #8B008B!important;
}
body {
  background-color: #EBDEF0;
  text-align: center;
}
p {
  color: #8B008B;
}
h1 {
  color: #8B008B;
}

img.install {
  width: 375px;
  max-width: 100%;
  display:block;
  margin: 0.5rem auto 1rem 0;
}

#button-notifications,
#form-notification,
#badging-area,
#install-nudge .show-for-portrait,
.show-for-landscape {
  margin-bottom: 1rem;
  display: none;
}

#install-nudge {
  color: #EBDEF0;
  padding: 0.5rem 2rem;
  text-align: left;
  background-color: #8B008B;
  margin-bottom: 0;

  /* Display is controlled in JavaScript */
  display: none;
}

#install-nudge .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#install-nudge div {
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.25rem 0;
}

#install-nudge * {
  align-self: center;
}

#install-nudge a {
  display: inline-block;
  width: auto;
  font-size: 0.7rem;
  background-color: #EBDEF0;
  padding: 0.25rem 1.25rem 0.25rem 1.25rem;
  margin-left: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.75rem;
  color: #8B008B;
}

#install-nudge a.close {
  background-color: transparent!important;
  color: #EBDEF0!important;
  padding: 0 0 0.25rem 0;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-appearance: none;
}
</style>
  
  <title>Login | RREComms</title>
  <script src="soundlibrary.js"></script>
</head>

  <body onload="init()">
    <div id="enabled">
      <br/>
      <h1>
        Log In
      </h1>
        <p id="error">
        </p>
        <input name="un" type="text" placeholder="Username" class="w3-bar-item w3-input w3-bar-item w3-round-large w3-border w3-ripple" required /><br />
        <br />
        <input name="pw" type="password" placeholder="Password" class="w3-bar-item w3-input w3-bar-item w3-round-large w3-border w3-ripple" required> <br /><br
        />
        <button type="submit"  class="w3-bar-item w3-btn w3-round-large w3-border w3-ripple w3-center">
          Log In
        </button>
    </div>
    <div id="disabled">
      <br/>
      <h1>
        Error - Javascript is Disabled
      </h1><br />
      <p>
        Please enable javascript then reload to continue.
      </p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
        <script>
      var myEncryptionKey;
      var socket = io();
      function init(){
        document.getElementById('enabled').style.display = 'block';
        document.getElementById('disabled').style.display = 'none';
      }
      socket.on("serverSend", (data) => {
	      myEncryptionKey.decrypt(data, 'utf8');
        
      });
    </script>
  </body>

</html>