#enabled {
  display: none;
}
button {
  background-color: #8B008B!important;
  color: white!important;
  border-color: #EBDEF0!important;
}
input {
  color: #8B008B!important;
  background-color: white!important;
  border-color: #8B008B!important;
}
body {
  background-color: #EBDEF0;
  text-align: center;
}
p {
  color: #8B008B;
}
h1 {
  color: #8B008B;
}

img.install {
  width: 375px;
  max-width: 100%;
  display:block;
  margin: 0.5rem auto 1rem 0;
}

#button-notifications,
#form-notification,
#badging-area,
#install-nudge .show-for-portrait,
.show-for-landscape {
  margin-bottom: 1rem;
  display: none;
}

#install-nudge {
  color: #EBDEF0;
  padding: 0.5rem 2rem;
  text-align: left;
  background-color: #8B008B;
  margin-bottom: 0;

  /* Display is controlled in JavaScript */
  display: none;
}

#install-nudge .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#install-nudge div {
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.25rem 0;
}

#install-nudge * {
  align-self: center;
}

#install-nudge a {
  display: inline-block;
  width: auto;
  font-size: 0.7rem;
  background-color: #EBDEF0;
  padding: 0.25rem 1.25rem 0.25rem 1.25rem;
  margin-left: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.75rem;
  color: #8B008B;
}

#install-nudge a.close {
  background-color: transparent!important;
  color: #EBDEF0!important;
  padding: 0 0 0.25rem 0;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-appearance: none;
}